<div class="container">

  <section class="category-column">
  {{each happening in happeningsOdd itemViewClass="Discourse.HappeningBoxView" }}
  </section>    
  <section class="category-column">
  {{each happening in happeningsEven itemViewClass="Discourse.HappeningBoxView" }}
  </section>  
</div>