<ul class="nav nav-pills">
  <li {{bindAttr class="generalSelected:active"}}>
    <a href="#" {{action selectGeneral}}>Start a conversation</a>
  </li>
</ul>


<div class="modal-body" >
   <div >
    <form>
      <section class='field'>
        <label>Your comment</label>
        {{view Ember.TextArea valueBinding="content.comment"}}
      </section>
    </form>
  </div>



</div>

<div class="modal-footer">
  <button class='btn btn-primary pull-right' {{action createHappeningTopic}}> 
    Save
  </button>
</div>



